<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is a flask page</title>
  </head>
  <body>
    <header>
      <h1>This is my flask page</h1>
    </header>
    <main>
      <article>
        <!-- This is dynamic content
        <p>{{first}} is my first name.</p>
        <p>{{last}} is my last name.</p> -->

        <!-- This is how to run python code in html
          {%for i in range(10)%} {%if i%2 == 1 %}
        <p>This is loop {{i}}</p>
        {% endif %} {% endfor %} -->

        <!--This loops through a list and prints to page-->
        <!-- {%for i in content%}
        <p>{{i}}</p>
        {% endfor %} -->

        <!-- Using multiple if-->
        {%for i in content%} {%if i=="Tim"%}
        <p>My name is Tim</p>
        {%elif i=="Nate"%}
        <p>My name is Nate</p>
        {%else%}
        <p>My name is something else</p>
        {% endif %} {% endfor %}
      </article>
    </main>
    <footer></footer>
  </body>
</html>
